@import 'libs.scss';

*, *::before, *::after {
   box-sizing: border-box;
}
body {
   margin: 0;
   
}

.main {
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
   min-height: 600px;
   background: url(../img/image.png) no-repeat center;
   background-size: cover;
   &:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, .5);
   opacity: 0.5;
   z-index: 0;
   }
   &:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, .5);
   opacity: 0.5;
   z-index: 0;
   }
}

.header {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   border: 2px solid red;
 z-index: 1;
}
.menu {
   width: 60%;
   &:ul {

   }
}
ul {
   &:li {
      text-decoration: none;
   } 
   &:a {
   text-decoration: none;
   color: white;
   }
}
    