.screen-customers
    .screen__title
        h1 Recent Brands we’ve worked with
    .brand__block
        .brand__item
        .brand__item
        .brand__item
        .brand__item
        .brand__item
        .brand__item