doctype html
<html (lang="ru-RU")>
    head
        title Hello World
        link(rel="stylesheet", href="static/css/main.css")
        link(rel="stylesheet", href="static/css/normalize.css")
        
        
    body
        .main
            .header
                .logo
                    img(src="static/img/Logo.svg", alt="")
                .menu
                    .menu-mobile
                        span
                        span
                        span
                        span
                    ul
                        li
                            a.menu-link(href="#") Services 
                        li
                            a.menu-link(href="#") Portofolio
                        li
                            a.menu-link(href="#") Testimonials
                        li
                            a.menu-link(href="#") About
                        li
                            a.menu-link(href="#") Contact
            .main-text
                h1  Velox One Page Template
                h3  Clean, Responsive, customizable one page template 
            .main-button
                button Get Started Now 
script(src="static/js/libs.min.js")
script(src="static/js/main.js")
</html>                            

