.main-screen
    .header
        .header__logo
            img(src="static/img/Logo.svg", alt="")
        .header__menu
            .menu__icon
                span
                span
                span
                span
            ul.menu__list
                li
                    a.menu-link(href="#") Services 
                li
                    a.menu-link(href="#") Portofolio
                li
                    a.menu-link(href="#") Testimonials
                li
                    a.menu-link(href="#") About
                li
                    a.menu-link(href="#") Contact
    .main-screen__title
        h1  Velox One Page Template
        h3  Clean, Responsive, customizable one page template 
    .main-screen__button
        button Get Started Now 

                        

