.portfolio-screen
    .screen__title
        h1 Portfolio
    .tabs.portfolio__tabs
        .tabs__block
            .tabs__item
                span.tab.isActive all 
                span.tab illustrations 
                span.tab logo 
                span.tab branding 
                span.tab web design 
            .tabs__content 
                .tabs__content__item.category__all
                    .tabs__content__container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_1.png", alt="", srcset="")
                        .tabs__content__item__title
                            p Agency - PSD Template
                    .tabs__content__container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_2.png", alt="", srcset="")
                        .tabs__content__item__title
                            p Pure Vodka Branding
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_3.png", alt="", srcset="")
                        .tabs__content__item__title
                            p Web Design
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_4.png", alt="", srcset="")
                        .tabs__content__item__title
                            p Everest Logo
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_5.png", alt="", srcset="")
                        .tabs__content__item__title
                            p Poster Design
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_6.png", alt="", srcset="")
                        .tabs__content__item__title
                            p illustration
                .tabs__content__item.category__illustrations
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_6.png", alt="", srcset="")
                        .tabs__content__item__title
                            p illustration
                .tabs__content__item.category__logo
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_4.png", alt="", srcset="")
                        .tabs__content__item__title
                            p
                .tabs__content__item.category__branding
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_2.png", alt="", srcset="")
                        .tabs__content__item__title
                            p
                .tabs__content__item.category__web-design
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_1.png", alt="", srcset="")
                        .tabs__content__item__title
                            p
                    .tabs__content_container
                        .tabs__content__item__img
                            img(src="static/img/tabs_image_3.png", alt="", srcset="")
                        .tabs__content__item__title
                            p
