.portfolio-screen
    .screen__title
        h1 Portfolio
    .tabs.portfolio__tabs
        .tabs__block
            .tabs__item
                span.tab.isActive(data-tab="all") all 
                span.tab(data-tab="illustrations") illustrations 
                span.tab(data-tab="logo") logo 
                span.tab(data-tab="branding") branding 
                span.tab(data-tab="web") web design 
            .tabs__content
                .portfolio-item(data-tab="illustrations")
                    .portfolio-item__img
                        img(src="static/img/tabs_image_1.png", alt="", srcset="")
                    .portfolio-item__title
                        p illustrations
                .portfolio-item(data-tab="logo")
                    .portfolio-item__img
                        img(src="static/img/tabs_image_1.png", alt="", srcset="")
                    .portfolio-item__title
                        p logo
                .portfolio-item(data-tab="branding")
                    .portfolio-item__img
                        img(src="static/img/tabs_image_1.png", alt="", srcset="")
                    .portfolio-item__title
                        p branding
                .portfolio-item(data-tab="web")
                    .portfolio-item__img
                        img(src="static/img/tabs_image_1.png", alt="", srcset="")
                    .portfolio-item__title
                        p web