.screen-reviews
    .screen__title
        h1 See what others are saying about us
    .screen-reviews__content
        .slider-block#slider
            .slider-container
                .slider-img
                    img(src = 'static/img/slick_slider_item1.png')
                .slider-text
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. A dicta officiis tempore quia ducimus quod praesentium rerum, non harum, alias ullam obcaecati! Provident repudiandae minima dignissimos, quod facilis blanditiis libero.
            .slider-container                
                .slider-img
                    img(src = 'static/img/slick_slider_item1.png')
                .slider-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, repellat eveniet deleniti recusandae distinctio nulla, quisquam quia a voluptates, reprehenderit cumque voluptas! Aperiam exercitationem corporis, suscipit ipsa adipisci accusantium quia?
            .slider-container                
                .slider-img
                    img(src = 'static/img/slick_slider_item1.png')
                .slider-text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusamus quas unde velit, obcaecati natus repellendus odio commodi distinctio deserunt sunt inventore est alias id dolorum ad consequuntur sapiente tenetur.



        