.services-screen
    .screen__title
        h1 Our Services
    .services-screen__list-services
        .list-services__service-item
            .service-item__logo-design
                .service-item__image
                .service-item__title
                    h3 logo design
                .service-item__subtitle
                    p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        .list-services__service-item
            .service-item__web-design
                .service-item__image
                .service-item__title
                    h3 Web Design
                .service-item__subtitle
                    p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        .list-services__service-item
            .service-item__branding
                .service-item__image
                .service-item__title
                    h3 Branding
                .service-item__subtitle
                    p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        .list-services__service-item
            .service-item__illustrations
                .service-item__image
                .service-item__title
                    h3 illustrations
                .service-item__subtitle
                    p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.

            